#
# NODE_ENV
#
NODE_ENV=

#
# DATABASE
#
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=nextjs_starter

#
# AUTH 
#
BETTER_AUTH_SECRET=replace_with_strong_secret
BETTER_AUTH_URL=http://localhost:3000
GOOGLE_CLIENT_ID=replace_with_google_client_id
GOOGLE_CLIENT_SECRET=replace_with_google_client_secret
