#
# NODE_ENV 
#
NODE_ENV=

#
# DATABASE 
#
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=nextjs_starter

#
# SECURITY
#
HASH_SALT_ROUNDS=12
JWT_ALGORITHM=HS256
JWT_SECRET=replace_with_strong_secret
JWT_EXPIRATION_TIME=1h
